.pagination {
  display: flex;
  justify-content: end;
  margin: 1rem 0;

  .page-item {
    background: transparent;
    border: none;

    border-radius: 50%;
    padding: 0.7rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: background 0.3s;

    &.active {
      background: #1e2128;
      color: #ffffff;
    }

    &:hover:not(.active) {
      background: #ddd;
    }

    &:disabled {
      // background: #eee;
      cursor: not-allowed;
    }

    &.inactive {
      color: #171a1f;
    }
  }
}
